<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm">
    <h5>Escoje tu lugar</h5>
    </div>
    <div class="col-sm">
      <h5>Informacion de Pago</h5>
    </div>
    <div class="col-sm">
      <h5>Confirmacion de Orden</h5>
    </div>
  </div>
  <hr>
  <progress-bar [progress]="perce" [color]="'#488aff'"></progress-bar>
  <hr>
</div>
<div class="container">
  <app-airbus *ngIf="sSeats"></app-airbus>
  <app-paymentinfo *ngIf="sPay_info"></app-paymentinfo>
  <app-confirmation *ngIf="sConfirmation"></app-confirmation>
</div>
<div class="container">
    <div style="text-align: right">
        <button *ngIf="!atCero" (click)="back()" class="btn btn-warning">
            Atras
          </button>
          <button *ngIf="atCero" [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-warning">
            Buscar Vuelo
          </button>
        <button (click)="next()" class="btn btn-success">
            Siguiente
          </button>
    </div>
  </div>
