.row>.col, .row>[class^=col-] {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.btn {
  width: 100%;
}

.label {
  display: block;
  font-weight: bold;
  text-indent: 8px;
  color: #656565;
}

.one-third {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
