<!-- nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="navbar-brand" style="color:white">
            <img src="assets\Phischel.svg" width="105" alt="pichel">
            </a>
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/recipes">Recipes</a>
        <a class="nav-item nav-link" routerLink="/orders">Orders</a>
    </div>
    <div class="navbar-nav">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
