<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
          <h2>Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="form-group col s6"> <!--First Name-->
                      <label for="firstName">Primer Nombre</label>
                      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col s6"> <!--Last Name-->
                    <label for="midName">Segundo Nombre</label>
                    <input type="text" formControlName="midName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.midName.errors }" />
                    <div *ngIf="submitted && f.midName.errors" class="invalid-feedback">
                        <div *ngIf="f.midName.errors.required">mid Name is required</div>
                    </div>
                </div>
                  <div class="form-group col s6"> <!--Last Name-->
                      <label for="lastName">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col s6"> <!--cedula-->
                      <label for="carnet">Carnet</label>
                      <input type="tel" formControlName="carnet" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carnet.errors }" />
                      <div *ngIf="submitted && f.carnet.errors" class="invalid-feedback">
                          <div *ngIf="f.carnet.errors.required">Carnet is required</div>
                          <div *ngIf="f.carnet.errors.minlength">Carnet must be at least 8 characters</div>
                      </div>
                  </div>
                  <div class="form-group col s6">
                      <label for="phone">Phone</label>
                      <input type="tel" formControlName="phone" class="form-control" [ngClass]="{'is-invalid': submitted && f.phone.errors}" />
                      <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                          <div *ngIf="f.phone.errors.required">Phone is required</div>
                          <div *ngIf="f.phone.errors.minlenght">Phone must be at leat 8 digits</div>
                      </div>
                  </div>
              </div>
              <div class="form-group"> <!--user name-->
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label> <!--password-->
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" type="email" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}" />
                  <div *ngIf="submitted && f.email.errors">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
              </div>
              <div class="form-group">
                <label for="uniname">Universidad</label>
                <input class="form-control" type="uniname" formControlName="uniname" [ngClass]="{'is-invalid': submitted && f.uniname.errors}" />
                <div *ngIf="submitted && f.uniname.errors">
                    <div *ngIf="f.uniname.errors.required">uni name is required</div>
                </div>
            </div>
              <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">Register</button>
                  <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  <a routerLink="/login" class="btn btn-link">Cancel</a>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
